[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Learning Laravel by developing InstaClone
[access "refs/*"]
	owner = group user/Hariharan Thiagarajan (HarzSR)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Hariharan Thiagarajan (HarzSR)
	label-Verified = -1..+1 group user/Hariharan Thiagarajan (HarzSR)
	push = group user/Hariharan Thiagarajan (HarzSR)
	read = group user/Hariharan Thiagarajan (HarzSR)
	rebase = group user/Hariharan Thiagarajan (HarzSR)
	removeReviewer = group user/Hariharan Thiagarajan (HarzSR)
	submit = group user/Hariharan Thiagarajan (HarzSR)
[access "refs/heads/*"]
	create = group user/Hariharan Thiagarajan (HarzSR)
	push = +force group user/Hariharan Thiagarajan (HarzSR)
	pushMerge = group user/Hariharan Thiagarajan (HarzSR)
	read = group user/Hariharan Thiagarajan (HarzSR)
[access "refs/tags/*"]
	push = group user/Hariharan Thiagarajan (HarzSR)
	push = +force group user/Hariharan Thiagarajan (HarzSR)
